<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List</title>
</head>
<body>
    <h1 style="text-align: center">ADDED PRODUCT DETAILLS</h1>
    <ul>Product Name :   <%= name1%>
    </ul>
    <ul>Product Price:   <%= price1%>
    </ul>
    <ul>Product Quantity :   <%= qty1%>
    </ul>
</body>
</html>