<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View</title>
</head>
<body>
    <h1>View Product</h1>
    <table border="1px">
        <thead><tr><th>Product Name</th><th>Product Price</th><th>Product Quantity</th></tr></thead>
        <tr>
            <% for(var i=0;i<list.length;i++){%>
                <td><%= list[i].pn%></td>
                <td><%= list[i].ppr%></td>
                <td><%= list[i].pqt%></td>
            </tr>
           <% }%>
       
    </table>
</body>
</html>