<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
   <li> <a href="/prd/new">NEW PRODUCT</a></li>
   <li> <a href="/prd/view">VIEW PRODUCT</a></li>
   <li> <a href="/prd/re">REMOVE PRODUCT</a></li>
</body>
</html>